{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}
{% block page_checkout_item_container %}
    <template data-a-s-appointment></template>
    {% if shopware.config.ASAppointment.config.appointmentOrdersActive == true %}
        {# {% block as_appointmentorder_is_appointment %}
            <input type="checkbox"
                    title="Check for appointment order"
                    class=""
                    id="appointment"
                    form="confirmOrderForm"
                    name="appointment"/>
        {% endblock %} #}
        {% block as_appointmentorder_appointment_date %}
            {% set minimumAppointmentDate = shopware.config.ASAppointment.config.minimumAppointmentDate %}
            {% set minimumAppointmentDateString = 'now + ' ~ minimumAppointmentDate ~ ' days' %}
            <input type="date"
                    min="{{ minimumAppointmentDateString|date("Y-m-d") }}"
                    name="appointmentDate-{{lineItem.id}}"
                    id="appointmentDate-{{lineItem.id}}"
                    form="confirmOrderForm"
                    onfocus="{{ minimumAppointmentDateString|date("Y-m-d") }}"
                    data-datepicker="true" />
             Für Terminbestellung Datum auswählen
        {% endblock %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_remove %}
    {{ parent() }}
    {% if shopware.config.ASAppointment.config.appointmentOrdersActive == true %}
        <div class "row col-md-2">
            <a class="btn btn-light btn-sm" href="{{ path("frontend.checkout.addAppointmentLineItem", { 'lineItemId': lineItem.id} ) }}" >
                +
            </a>
        </div>
    {% endif %}
{% endblock %}